<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/room.css">
    <script>
        const ROOM_ID = "<%= roomId %> ";
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script src="js/room.js" defer></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="tools">
        <div class="tool peoples">
            <i class="material-icons">
                people_outline
            </i>
        </div>
        <div class="chat tool">
            <i class="material-icons">
                chat
            </i>
        </div>
        <div class="you"></div>
    </div>
    <div class="screen">
        <div class="video-grid">

        </div>
        <div class="controls">
            <div class="title flex">
                Test Meeting <%= ' ' %> <i class="material-icons">keyboard_arrow_up</i> 
            </div>
            <div class="btns flex">
                <div class="toggle-mic">
                    <i class="material-icons">
                        mic_none
                    </i>
                </div>
                <div class="end-call">
                    <i class="material-icons">
                        call_end
                    </i>
                </div>
                <div class="toggle-video">
                    <i class="material-icons">
                        videocam
                    </i>
                </div>
            </div>
            <div class="cc-present flex">
                <div class="captions">
                    <i class="material-icons">
                        closed_caption
                    </i>
                    <p>
                        Turn On Caption
                    </p>
                </div>
                <div class="present">
                    <i class="material-icons">
                        present_to_all
                    </i>
                    <p>
                        Present To all
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>